@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin:0;
    color: #f3f3f3;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(119, 119, 161, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://quotefancy.com/media/wallpaper/3840x2160/28204-Jimi-Hendrix-Quote-Music-is-a-safe-kind-of-high.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 

 h1,#description
{
    font-weight: 400;
    text-align: center;
    color: lightblue;
    line-height: 0.5;
}
#description{
    font-style: italic;
    font-size:20px;
    

}
.header{
    padding: 15px 0px;
    
}
@media (min-width:500px){
    h1,#description{
        line-height: 1.2;
    }
}
label{
    align-items: center;
}

.form {
    background: rgba(27, 27, 50, 0.8);;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }
  
  
  
.form-quries{
    margin: 0 auto 1.25rem auto;
  padding: 0.2rem;
}


@media(min-width: 600px){
    .form{
        margin: 5px 50px;
    }
}
@media(min-width: 1000px){
    .form{
        margin: 5px 150px;
    }
}
@media(min-width: 1200px){
    .form{
        margin: 5px 250px;
    }
}

.form-quries{
    display: block;
    margin: 10px 40px;
}
.box
{
    display: block;
    width: 100%;
    height: 2.2rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-top: 5px;
    color: #495057; 
}
.box:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  


input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: inherit;
  padding-left: 10px;
}
.radio, .checkbox{
    display: inline;
    margin-right: 9px;
    min-height: 20px;
    min-width: 18px;
}
label {
    display: flex;
    align-items: center;
    font-size: 19px;;
    margin-bottom: 0.5rem;
  }
  #review{
      min-height: 120px;
      width: 100%;
      resize: vertical;
  }
  .submit {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #37af65;;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    border: none;
  }
  